.next
node_modules
.env
.env.local
dist
coverage
*.log
.DS_Store
public/uploads/plants/*
!public/uploads/plants/.gitkeep
/storage/originals/*
!/storage/originals/.gitkeep
/storage/processed/*
!/storage/processed/.gitkeep
/storage/temp/*
!/storage/temp/.gitkeep
